.Header {
  width: 100%;
  height: 70px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.logoutButton {
  color: #4b9ce2;
  background: #f0f8ff 0% 0% no-repeat padding-box;
}

.miniButton {
  width: 127px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  fill: white;
}

.HeaderLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  line-break: auto;
}

.HeaderProfileImage {
  margin: 0px 10px;
}

.HeaderEmail {
  text-align: left;
  font: normal normal bold 15px/20px Nunito;
  letter-spacing: 0px;
  color: #525252;
  opacity: 1;
}

.Body {
  width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  margin-top: 10px;
  padding: 20px;
}

.CategoryWrapper {
  display: flex;
  align-items: center;
  gap: 34px;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
}

.CategoryItem {
  height: 100%;
  text-align: left;
  font: normal normal normal 15px/20px Nunito;
  letter-spacing: 0px;
  color: #b1b1b1;
  opacity: 1;
}

.CategoryItem:hover {
  color: #4b9ce2;
  cursor: pointer;
  font: normal normal bold 15px/20px Nunito;
  border-bottom: 2px solid #4b9ce2;
}

.OfferCard {
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  width: 100%;
  height: fit-content;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
}

.OfferName {
  cursor: pointer;
}

.OfferImage {
  width: 84px;
  height: 78px;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.OfferImage img {
  border-radius: 8px;
}

.OfferDetail {
  width: 100%;
  text-align: left;
  font: normal normal normal 18px/23px Nunito;
  letter-spacing: 0px;
  color: #555555;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.OfferLeft {
  display: flex;
  flex-direction: column;
}

.OfferPriceWrapper {
  background: #f2f2f2 0% 0% no-repeat padding-box;
  border-radius: 8px;
  padding: 10px;
  width: fit-content;
  margin-top: 6px;
  text-align: left;
  font: normal normal normal 15px/20px Nunito;
  letter-spacing: 0px;
  color: #b1b1b1;
}

.OfferPrice {
  text-align: left;
  font: normal normal bold 15px/20px Nunito;
  letter-spacing: 0px;
  color: #525252;
}

.primary {
  background: #4b9ce2 0% 0% no-repeat padding-box;
  font: normal normal normal 15px/23px Nunito;
  letter-spacing: 0px;
  color: #ffffff;
}

.danger {
  background: #f77474 0% 0% no-repeat padding-box;
  font: normal normal normal 15px/23px Nunito;
  letter-spacing: 0px;
  color: #ffffff;
}

.OfferAccept {
  text-align: right;
  font: normal normal normal 15px/23px Nunito;
  letter-spacing: 0px;
  color: #4b9ce2;
}

.OfferDecline {
  text-align: left;
  font: normal normal normal 15px/23px Nunito;
  letter-spacing: 0px;
  color: #f77474;
  display: block;
}

.OfferButtons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .OfferDetail {
    flex-direction: column;
    align-items: flex-start;
  }
  .OfferPrice {
    width: 100%;
  }
  .OfferButtons {
    margin-top: 10px;
  }
}

@media screen and (max-width: 635px) {
  .img {
    display: none;
  }
  .rightSide {
    float: none;
    width: 100vw;
  }
  .registerFormWrapper {
    width: 75%;
  }
  .miniButton {
    width: 40px;
  }
}

@media screen and (max-width: 480px) {
  .img {
    display: none;
  }
  .rightSide {
    float: none;
    width: 100vw;
  }
  .registerFormWrapper {
    width: 95%;
  }
}
