.Header {
  width: 100%;
  height: 70px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
}

.HeaderProfileImage {
  margin: 0px 10px;
}

.HeaderEmail {
  text-align: left;
  font: normal normal bold 15px/20px Nunito;
  letter-spacing: 0px;
  color: #525252;
  opacity: 1;
}

.Body {
  width: 100%;
  height: 700px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  margin-top: 10px;
  padding: 20px;
}

.CategoryWrapper {
  display: flex;
  align-items: center;
  gap: 34px;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
}

.CategoryItem {
  height: 100%;
  text-align: left;
  font: normal normal normal 15px/20px Nunito;
  letter-spacing: 0px;
  color: #b1b1b1;
  opacity: 1;
}

.CategoryItem:hover {
  color: #4b9ce2;
  cursor: pointer;
  font: normal normal bold 15px/20px Nunito;
  border-bottom: 2px solid #4b9ce2;
}

.OfferCard {
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  width: 100%;
  height: 104px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
}

.OfferImage {
  width: 10%;
  height: 100%;
  position: relative;
}

.OfferImage img {
  border-radius: 8px;
}