.wrapper {
  height: fit-content;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  position: relative;
}

.wrapper > * {
  width: 50%;
}

.detailWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.line {
  display: none;
  border-left: 1px solid var(--unnamed-color-f2f2f2);
  height: 500px;
  width: 6px;
  margin: 47.5px;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 75px;
}

.title {
  text-align: left;
  font: normal normal bold 25px/23px Nunito;
  letter-spacing: 0px;
  color: #525252;
  opacity: 1;
  margin-bottom: 25px;
}

.inputWrapper {
  margin-bottom: 25px;
}

.halfInputWrapper {
  width: 100%;
}

.categoryWrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 30px;
}

.sendButton {
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  width: calc(100% - 20px);
  color: #fff;
  background: var(--unnamed-color-4b9ce2) 0% 0% no-repeat padding-box;
}

.OfferWrapper {
  width: 100%;
}

.OfferInput {
  width: 100%;
}

.toggle {
  margin-left: 80px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 44px;
  height: 24px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #ebebeb;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all cubic-bezier(0.9, 1.5, 0.7, 1) 0.3s;
}
.toggle:checked {
  background-color: var(--unnamed-color-4b9ce2);
}

.toggle:checked:before {
  left: 21px;
}

.toggleWrapper {
  text-align: left;
  font: normal normal normal 16px/22px Nunito;
  letter-spacing: 0px;
  color: var(--unnamed-color-b1b1b1);
  opacity: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  .wrapper {
    flex-direction: row;
    height: 812px;
  }
  .line {
    display: block;
  }
  .halfInputWrapper {
    width: 47%;
  }
  .sendButton {
    bottom: 0;
    right: 0;
    margin: 30px;
    transform: none;
    width: 315px;
    margin-left: auto;
  }
  .detailWrapper {
    flex-direction: column;
  }
  .imageWrapper {
    margin-bottom: 0;
  }
  .OfferWrapper {
    width: 236px;
  }

  .OfferInput {
    width: 100%;
  }
}
