.Navbar {
  height: 80px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.Navbar_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.Navbar_logo {
  display: flex;
  cursor: pointer;
}

.navbarIconWrapper {
  display: flex;
  gap: 10px;
}

.primaryButton {
  color: #fff;
  background: #4b9ce2 0% 0% no-repeat padding-box;
}

.secondaryButton {
  color: #4b9ce2;
  background: #f0f8ff 0% 0% no-repeat padding-box;
}

.miniButton {
  width: 40px;
}

.soldButton {
  color: #faad60;
  background: #fff0e2 0% 0% no-repeat padding-box;
}

.Banner {
  margin-top: 20px;
  margin-bottom: 30px;
}

.Category {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font: normal normal 600 18px/24px Nunito;
  letter-spacing: 0px;
  opacity: 1;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.CategoryItem {
  display: block;
  color: #525252;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 14px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}

.CategoryItem:hover {
  color: #4b9ce2;
  cursor: pointer;
  border-bottom: 2px solid #4b9ce2;
}

.Products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  row-gap: 9px;
  column-gap: 9px;
  padding-bottom: 161px;
}

.ProductCard {
  width: calc(100% * (1 / 2) - 9px);
  height: 266px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  padding: 10px;
}

.ProductCardImage {
  position: relative;
  width: auto;
  height: 184px;
  opacity: 1;
}

.ProductCardImage img {
  border-radius: 8px;
}

.ProductSpecs {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.ProductBrand {
  text-align: left;
  font: normal normal bold 15px/22px Nunito;
  letter-spacing: 0px;
  color: #4b9ce2;
  opacity: 1;
}

.ProductColor {
  text-align: left;
  font: normal normal normal 13px/22px Nunito;
  letter-spacing: 0px;
  color: #3e3e3e;
}

.Bold {
  font: normal normal bold 13px/22px Nunito;
}

.ProductPrice {
  text-align: left;
  font: normal normal bold 18px/22px Nunito;
  letter-spacing: 0px;
  color: #3e3e3e;
  opacity: 1;
  margin-top: 12px;
}

.detailWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  padding: 6px;
  margin-bottom: 60px;
}

.detailImage {
  position: relative;
  color: red;
  height: 362px;
  width: auto;
}

.detailImage img {
  border-radius: 8px;
}

.detailProduct {
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  width: 100%;
}

.detailProductName {
  text-align: left;
  font: normal normal normal 18px/23px Nunito;
  color: #555555;
  margin-bottom: 5px;
  line-height: 30px;
  order: -2;
}

.detailProductSpecs {
  display: flex;
  margin-top: 20px;
}

.detailProductSpecs > * {
  width: 50%;
}

.detailProductLeft {
  text-align: left;
  font: normal normal bold 15px/20px Nunito;
  letter-spacing: 0px;
  color: #525252;
}

.detailProductRight {
  text-align: left;
  font: normal normal normal 15px/20px Nunito;
  letter-spacing: 0px;
  color: #525252;
}

.detailProductPrice {
  text-align: left;
  font: normal normal bold 25px/23px Nunito;
  letter-spacing: 0px;
  color: #525252;
  opacity: 1;
  order: -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.buttonWrapper {
  display: flex;
  padding: 10px;
  gap: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px -3px 8px #1e364814;
}

.buttonWrapper button {
  width: calc(100%);
  padding: 10px 0px;
}

.DescriptionWrapper {
  margin-top: 10px;
}

.DescriptionTitle {
  color: var(--unnamed-color-525252);
  text-align: left;
  font: normal normal bold 18px/24px Nunito;
  letter-spacing: 0px;
  color: #525252;
  opacity: 1;
}

.Description {
  text-align: left;
  font: normal normal normal 15px/23px Nunito;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
}

.myOffer {
  background: #f2f2f2 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  width: 50%;
  text-align: left;
  font: normal normal normal 15px/20px Nunito;
  letter-spacing: 0px;
  color: #b1b1b1;
  opacity: 1;
  padding: 10px;
}

.myOfferPrice {
  font: normal normal bold 15px/20px Nunito;
  letter-spacing: 0px;
  color: #525252;
  opacity: 1;
}

@media (min-width: 376px) {
  .Products {
    row-gap: 20px;
    column-gap: 20px;
  }
  .ProductCardImage {
    height: 184px;
  }
  .ProductCard {
    width: calc(100% * (1 / 2) - 20px);
    height: 266px;
  }
}

@media (min-width: 636px) {
  .miniButton {
    width: 127px;
  }
  .Products {
    row-gap: 20px;
    column-gap: 20px;
  }
  .ProductCardImage {
    height: 297px;
  }
  .ProductCard {
    width: calc(100% * (1 / 2) - 20px);
    height: 392px;
  }
  .ProductPrice {
    margin-top: 26px;
  }
  .detailProductName {
    font: normal normal normal 34px/23px Nunito;
    line-height: 30px;
  }
  .detailProductPrice {
    order: 0;
  }
  .buttonWrapper {
    position: relative;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    width: 62%;
  }
  .myOffer {
    width: max-content;
    padding: 10px 40px 10px 10px;
  }
  .detailWrapper {
    flex-direction: row;
    height: 71vh;
    padding: 16px;
  }
  .detailProductPrice {
    flex-direction: column;
    align-items: baseline;
    margin: 30px 0;
    gap: 5px;
  }
  .detailProduct {
    margin-left: 60px;
  }
  .detailImage {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

@media (min-width: 768px) {
  .Products {
    row-gap: 20px;
    column-gap: 20px;
  }
  .ProductCardImage {
    height: 297px;
  }
  .ProductCard {
    width: calc(100% * (1 / 2) - 20px);
    height: 392px;
  }
}

@media (min-width: 992px) {
  .ProductCard {
    width: calc(100% * (1 / 3) - 20px);
    height: 392px;
  }
  .ProductCardImage {
    height: 297px;
  }
}

@media (min-width: 1200px) {
  .ProductCard {
    width: calc(100% * (1 / 4) - 20px);
    height: 392px;
  }
  .ProductCardImage {
    height: 297px;
  }
}

@media (min-width: 1500px) {
  .ProductCard {
    width: calc(100% * (1 / 5) - 20px);
    height: 392px;
  }
  .ProductCardImage {
    height: 297px;
  }
}
