.Navbar {
  height: 80px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.Navbar_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.Navbar_logo {
  display: flex;
}

.navbarIconWrapper {
  display: flex;
  gap: 10px;
}

.primaryButton {
  color: #fff;
  background: #4b9ce2 0% 0% no-repeat padding-box;
}

.secondaryButton {
  color: #4b9ce2;
  background: #f0f8ff 0% 0% no-repeat padding-box;
}

.soldButton {
  color: #faad60;
  background: #fff0e2 0% 0% no-repeat padding-box;
}

.Banner {
  margin-top: 20px;
  margin-bottom: 30px;
}

.Category {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font: normal normal 600 18px/24px Nunito;
  letter-spacing: 0px;
  opacity: 1;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.CategoryItem {
  display: block;
  color: #525252;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 14px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}

.CategoryItem:hover {
  color: #4b9ce2;
  cursor: pointer;
  border-bottom: 2px solid #4b9ce2;
}

.Products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  row-gap: 20px;
  column-gap: 20px;

  padding-bottom: 161px;
}

.ProductCard {
  width: 280px;
  height: 392px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  padding: 10px;
}

.ProductCardImage {
  position: relative;
  width: 260px;
  height: 297px;
  opacity: 1;
}

.ProductCardImage img {
  border-radius: 8px;
}

.ProductSpecs {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.ProductBrand {
  text-align: left;
  font: normal normal bold 15px/22px Nunito;
  letter-spacing: 0px;
  color: #4b9ce2;
  opacity: 1;
}

.ProductColor {
  text-align: left;
  font: normal normal normal 13px/22px Nunito;
  letter-spacing: 0px;
  color: #3e3e3e;
}

.Bold {
  font: normal normal bold 13px/22px Nunito;
}

.ProductPrice {
  text-align: left;
  font: normal normal bold 18px/22px Nunito;
  letter-spacing: 0px;
  color: #3e3e3e;
  opacity: 1;
  margin-top: 26px;
}

.detailWrapper {
  display: flex;
  margin-top: 20px;
  height: 71vh;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  padding: 15px;
}

.detailImage {
  position: relative;
  color: red;
  height: 100%;
  width: 47%;
}

.detailImage img {
  border-radius: 8px;
}

.detailProduct {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  padding-top: 14px;
  width: 32%;
}

.detailProductName {
  text-align: left;
  font: normal normal normal 34px/23px Nunito;
  letter-spacing: 0px;
  color: #555555;
  margin-bottom: 5px;
}

.detailProductSpecs {
  display: flex;
  margin-top: 20px;
}

.detailProductSpecs > * {
  width: 50%;
}

.detailProductLeft {
  text-align: left;
  font: normal normal bold 15px/20px Nunito;
  letter-spacing: 0px;
  color: #525252;
}

.detailProductRight {
  text-align: left;
  font: normal normal normal 15px/20px Nunito;
  letter-spacing: 0px;
  color: #525252;
}

.detailProductPrice {
  text-align: left;
  font: normal normal bold 25px/23px Nunito;
  letter-spacing: 0px;
  color: #525252;
  opacity: 1;

  margin: 30px 0;
}

.buttonWrapper {
  display: flex;
  gap: 5px;
}

.DescriptionWrapper {
  margin-top: 10px;
}

.DescriptionTitle {
  color: var(--unnamed-color-525252);
  text-align: left;
  font: normal normal bold 18px/24px Nunito;
  letter-spacing: 0px;
  color: #525252;
  opacity: 1;
}

.Description {
  text-align: left;
  font: normal normal normal 15px/23px Nunito;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
}

.myOffer {
  background: #f2f2f2 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  width: 50%;
  text-align: left;
  font: normal normal normal 15px/20px Nunito;
  letter-spacing: 0px;
  color: #b1b1b1;
  opacity: 1;
  padding: 10px;
  margin-top: 10px;
}

.myOfferPrice {
  font: normal normal bold 15px/20px Nunito;
  letter-spacing: 0px;
  color: #525252;
  opacity: 1;
}
