.textInput {
  background: rgba(244, 244, 244, 1) 0% 0% no-repeat padding-box;
  border-radius: 8px;
  border-color: transparent;
  opacity: 1;
  padding: 12px 15px;
}

.textInput::placeholder {
  font: normal normal normal 16px/22px Nunito;
  letter-spacing: 0px;
  color: #99a0a7;
  opacity: 1;
}

.textInput:focus {
  background: #f0f8ff 0% 0% no-repeat padding-box;
  border: 1px solid #4b9ce2;
  outline: none;
}

.errorInput {
  /* UI Properties */
  background: #fff2f2 0% 0% no-repeat padding-box !important;
  border: 1px solid #f77474 !important;
  border-radius: 8px;
  color: #f77474 !important;
  opacity: 1;
}

.button {
  border-radius: 8px;
  border-color: transparent;
  opacity: 1;
  text-align: center;
  font: normal normal bold 15px/20px Nunito;
  letter-spacing: 0px;
  cursor: pointer;
}

.label {
  font: normal normal normal 15px/20px Nunito;
}

.checkboxWrapper {
  /* UI Properties */
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  opacity: 1;
  padding: 13px;
  cursor: pointer;
  margin: 15px 0px;
}

.round {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
}

.round label {
  margin-top: 2px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 5px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="radio"] {
  visibility: hidden;
}

.round input[type="radio"]:checked + label {
  background-color: #4b9ce2;
  border-color: #4b9ce2;
}

.round input[type="radio"]:checked + label:after {
  opacity: 1;
}

.checkboxValue {
  text-align: left;
  font: normal normal normal 15px/20px Nunito;
  letter-spacing: 0px;
  color: #525252;
  opacity: 1;
  padding-left: 5px;
}

.OfferInputWrapper {
  position: relative;
}

.OfferInputWrapper label {
  position: absolute;
  top: 50%;
  right: 0%;
  /* bring your own prefixes */
  transform: translate(-100%, -50%);
  text-align: right;
  font: normal normal normal 16px/22px Nunito;
  letter-spacing: 0px;
  color: #99a0a7;
  opacity: 1;
}

.textArea {
  background: #f4f4f4 0% 0% no-repeat padding-box;
  border-radius: 8px;
  border-color: transparent;
  width: 100%;
  height: 92px;
  font: normal normal normal 16px/22px Nunito;
  letter-spacing: 0px;
  color: #99a0a7;
  padding: 12px 15px;
}

.uploaderWrapper {
  border: 1px dashed var(--unnamed-color-b1b1b1);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px dashed #b1b1b1;
  border-radius: 10px;
  opacity: 1;
  height: 164px;
}

.selectWrapper {
  position: relative;
}

.selectDiv {
  width: 100%;
  height: 45px;
  background: #f4f4f4 0% 0% no-repeat padding-box;
  border-radius: 8px;
  border-color: transparent;
  padding: 12px 15px;
  font: normal normal normal 16px/22px Nunito;
  letter-spacing: 0px;
  color: #b1b1b1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.selectDivClicked {
  width: 100%;
  height: 45px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 8px 8px 0px 0px;
  border-color: transparent;
  padding: 12px 15px;
  font: normal normal normal 16px/22px Nunito;
  letter-spacing: 0px;
  color: #b1b1b1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 3px 12px #1e36482e;
}

.selectDropdownWrapper {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 3px 12px #1e36482e;
  overflow-y: scroll;
  opacity: 1;
  height: 228px;
  width: 100%;
  position: absolute;
  z-index: 99;
  padding: 10px;
  text-align: left;
  font: normal normal normal 16px/22px Nunito;
  letter-spacing: 0px;
  color: #3e3e3e;
}

.selectDropdownWrapper li {
  margin: 10px 0px;
  padding: 6px;
}

.selectDropdownWrapper li:hover {
  background: #f2f2f2 0% 0% no-repeat padding-box;
  border-radius: 10px;
  color: #4b9ce2;
}

.previewImage {
  position: relative;
  width: 113px;
  height: 113px;
}

.deleteButtonForImage {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  height: 18px;
  line-height: 18px;
  width: 18px;
  font-size: .7em;
  font-weight: bold;
  border-radius: 50%;
  background-color: #525252;
  color: white;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .registerFormWrapper {
    width: 80%;
  }
}
