.sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  background: var(--bg-color);
}

.leftSide {
  max-width: 100%;
  height: 60px;
}

.img {
  position: absolute;
  left: 0;
  background-size: cover;
  width: 44vw;
  height: 100vh;
  background-image: url("../assets/images/sign-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;
  width: 56vw;
}

.registerFormWrapper {
  width: 52.93%;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 12px #1e36480a;
  border-radius: 8px;
  opacity: 1;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  margin-top: 5vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 68.893%;
}

.inputGroup {
  width: 100%;
  margin-bottom: 1.5vh;
}

.logi .signButton {
  margin-top: 3vh;
}

.underText {
  /* UI Properties */
  text-align: center;
  font: normal normal normal 15px/20px Nunito;
  letter-spacing: 0px;
  color: #525252;
  margin-top: 4.3vh;
  margin-bottom: 7vh;
}

.underTextColor {
  color: #4b9ce2;
  cursor: pointer;
}

.registerText {
  /* UI Properties */
  text-align: center;
  font: normal normal bold 32px/43px Nunito;
  letter-spacing: 0px;
  color: rgba(82, 82, 82, 1);
  opacity: 1;
  margin-top: 7vh;
}

.registerUnderText {
  /* UI Properties */
  text-align: center;
  font: normal normal normal 15px/20px Nunito;
  letter-spacing: 0px;
  color: rgba(82, 82, 82, 1);
  opacity: 1;
  margin-top: 10px;
}

.logo {
  margin-bottom: 55px;
}

.forgotPassword {
  width: 100%;
  margin-top: 0.5vh;
  text-align: right;
  font: normal normal normal 12px/16px Nunito;
  letter-spacing: 0px;
  color: #b1b1b1;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .registerFormWrapper {
    width: 80%;
  }
}

@media screen and (max-width: 640px) {
  .img {
    display: none;
  }
  .rightSide {
    float: none;
    width: 100vw;
  }
  .registerFormWrapper {
    width: 75%;
  }
}

@media screen and (max-width: 480px) {
  .img {
    display: none;
  }
  .rightSide {
    float: none;
    width: 100vw;
  }
  .registerFormWrapper {
    width: 95%;
  }
}
